body {
  margin: 0;
  padding: 88px 80px 137px;
}

#container {
  max-width: 1120px;
  box-sizing: border-box;
  margin: 0 auto;
}
#container img {
  width: 100%;
  border-radius: 28px;
  display: block;
}
.imgmain{
  height: 729px;
}
.atracoes{
    height: 350px;
}
.headline{
    color: #E5245E;
}
.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}